/* https://tympanus.net/Development/ProgressButtonStyles/ */
.button-progress {
  position: relative;
  display: inline-block;
  padding: 0;
  background: transparent;
  perspective: 900px;

  outline: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 2;
  cursor: pointer;

  .progress-wrap {
    transform-style: preserve-3d;
    display: block;
    transition: transform 0.2s;

    @include parent('.state-loading') {
      transform: rotateX(90deg) translateZ(10px);
      cursor: wait;
    }
  }

  .content, .progress {
    outline: 1px solid rgba(0,0,0,0);
  }

  .content {
    $button-bg: #1d9650;
    $button-bg-hover: #095027;

    padding: 0 30px;
    background: $button-bg;
    position: relative;
    display: block;

    &.-with-options {
      display: flex;
      padding-right: 11px;

      div {
        margin-left: 3px;
      }

      i {
        margin: 0;
        width: 16px;
        display: block;
        height: auto;
      }
    }

    &:hover {
      background: $button-bg-hover;

      &:before {
        background: $button-bg-hover;
      }
    }

    &::before,
    &::after {
      position: absolute;
      right: 5px;
      color: #0e7138;
      font-family: "icomoon";
      opacity: 0;
      transition: opacity 0.3s 0.3s;
      pointer-events: none;
    }

    &::before {
      background: $button-bg;
      padding: 0 3px;
      content: "\e600";

      @include parent('.state-success') {
        opacity: 1;
      }
    }

    &::after {
      content: "\e601";

      @include parent('.state-error') {
        opacity: 1;
      }
    }
  }

  .progress {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    transform: rotateX(-90deg);
    transform-origin: 50% 0%;
    backface-visibility: hidden;
    background: #148544;
    line-height: 1.4;
  }

  .progress-inner {
    position: absolute;
    left: 0;
    background: #0e7138;
    height: 100%;
    top: 0;
  }

  .progress-counter {
    position: relative;
  }

  .notransition {
    transition: none !important;
  }
}