.search-wrapper {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  width: 90%;
  transition: top .3s ease;

  &.-has-result {
    top: 30px;
    transform: translate(-50%, 0);
  }

  .input-holder {
    overflow: hidden;
    height: 70px;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    width:50px;
    transition: all 0.3s ease-in-out;

    @include parent('.active') {
      border-radius: 50px;
      width: 100%;
      background: rgba(0,0,0,0.5);
      transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    }

    .search-input {
      width:100%;
      height: 50px;
      padding:0px 70px 0 20px;
      opacity: 0;
      position: absolute;
      top:0px;
      left:0px;
      background: transparent;
      border:none;
      outline:none;
      font-family:"Open Sans", Arial, Verdana;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color:#FFF;
      transform: translate(0, 60px);
      transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
      transition-delay: 0.3s;

      @include parent('.active') {
        opacity: 1;
        transform: translate(0, 10px);
      }
    }

    .search-icon {
      width:70px;
      height:70px;
      border:none;
      border-radius:6px;
      background: #FFF;
      padding:0px;
      outline:none;
      position: relative;
      z-index: 2;
      float:right;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      @include parent('.active') {
        width: 50px;
        height:50px;
        margin: 10px;
        border-radius: 30px;
      }

      @include parent('.-in-process') {
        animation: spinner 1s ease infinite;
      }

      span {
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        position:relative;
        transform: rotate(45deg);
        transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);

        @include parent('.active') {
          transform: rotate(-45deg);
        }

        &::before, &::after {
          position: absolute;
          content:'';
        }

        &::before {
          width: 4px;
          height: 11px;
          left: 7px;
          top: 17px;
          border-radius: 2px;
          background: $dark-green;
        }

        &::after {
          width: 18px;
          height: 18px;
          left: 0px;
          top: 0px;
          border-radius: 16px;
          border: 4px solid $dark-green;
        }
      }
    }
  }

  .close {
    display: none;
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;

    @include parent('.active') {
      right:-50px;
      transform: rotate(45deg);
      transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
      transition-delay: 0.5s;
    }

    &::before, &::after {
      position:absolute;
      content:'';
      background: #FFF;
      border-radius: 2px;
    }

    &::before {
      width: 5px;
      height: 25px;
      left: 10px;
      top: 0px;
    }

    &::after {
      width: 25px;
      height: 5px;
      left: 0px;
      top: 10px;
    }
  }

  .result-container {
    width: 100%;
    position: absolute;
    top:80px;
    left:0px;
    text-align: center;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 14px;
    // display:none;
    color:#B7B7B7;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}