.main {
  .videos {
    margin-top: 10px;
  }

  .messages {
    position: fixed;
    opacity: 0;
    width: 100%;
    text-align: center;
    transition: opacity .3s ease;
    bottom: 10px;

    &.top {
      bottom: auto;
      top: 10px;
    }

    &.-visible {
      pointer-events: none;
      opacity: 1;
    }
  }
}