a.has-underline {
  text-decoration: underline;
}

.main {
  .videos {
    margin-top: 10px;
  }

  .messages {
    position: fixed;
    opacity: 0;
    width: 100%;
    text-align: center;
    transition: opacity .3s ease;
    bottom: 10px;
    // to not block the user to click on the last video
    pointer-events: none;
    z-index: $z-index-messages;

    a {
      pointer-events: all;
    }

    &.top {
      bottom: auto;
      top: 10px;
    }

    &.-visible {
      // pointer-events: none;
      opacity: 1;
    }
  }
}