.video {
  width: 350px;
  height: 190px;
  background-size: 100% auto;
  margin: 0 auto 15px;
  position: relative;
  animation: fade-in .2s ease forwards;
  opacity: 0;

  .details {
    background: rgba(0,0,0,.5);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .name {
    padding-right: 10px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}