.ui.dropdown .menu > .disabled.item {
  pointer-events: none !important;
}

.ui.dropdown.menu-right {
  .menu {
    left: auto;
    right: 0;
  }
  .disabled {
    cursor: default;
    color: #333;
  }
}

.ui.vertical.menu {
  width: auto;
}

.ui.dimmer {
  background: rgba(0, 0, 0, 0.95);
}

.button,
.buttons .button {
  @include parent('.ui.primary') {
    @include buttonBg(#1d9650);
  }

  @include parent('.ui.secondary') {
    @include buttonBg(#008329);
  }
}
