@import './colors.scss';
@import './mixin.scss';
@import './components/index.scss';

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('./fonts/icomoon/icomoon.eot');
	src:url('./fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('./fonts/icomoon/icomoon.ttf') format('truetype'),
		url('./fonts/icomoon/icomoon.woff') format('woff'),
		url('./fonts/icomoon/icomoon.svg#icomoon') format('svg');
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  background: #27ae60;
  font-family: 'Lato', Arial, sans-serif;
}

.hidden {
  display: none;
}

.ui.dimmer {
  background: rgba(0, 0, 0, .95);
}